@media screen {

	AssociadosDevedores:before {
		content: "Lista de Associados devedores";
		font-size: 190%;
	}

	AssociadosDevedores {
		display: table;
		color: darkblue;
		font-weight: bold;
		padding: 5%;
		background-image: -webkit-linear-gradient(silver 200px, white 300px);		/*chrome*/
		background-image: -moz-linear-gradient(silver 200px, white 300px);		/*firefox*/
		background-image: -ms-linear-gradient(silver 200px, white 300px);		/*ie10+*/
		background-image: -o-linear-gradient(silver 200px, white 300px);		/*opera*/
		background-repeat: repeat-x;
		background-color: white;
		width: 80%;
	}
	
	Associado{
		display: table-row;
		background-color: white;
	}
	
	NOME:before {
		content: "Nome: ";
		color: black;
	}
	
	NOME{
		border: 1px solid gray;
		display: table-cell;
		width:230px;
	}
	
	DATA_NASCIMENTO:before {
		content: "Data de nascimento: ";
		color: black;
	}
	
	DATA_NASCIMENTO{
		border: 1px solid gray;
		display: table-cell;
		width:230px;
	}
	CPF:before {
		content: "CPF: ";
		color: black;
	}
	
	CPF{
		border: 1px solid gray;
		display: table-cell;
		width:230px;
	}
	
	RUA:before {
		content: "Rua: ";
		color: black;
	}
	
	RUA{
		border: 1px solid gray;
		display: table-cell;
		width:230px;
	}
}